/* General Styles */
body {
  margin: 0;
  font-family: "Bangers", cursive;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: yellow; /* Yellow Background */
  color: white;
  position: relative; /* Make the parent container relative for positioning */
}

.title {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Boogaloo", cursive;
  text-shadow: 2px 2px 5px #000;
}

/* Social Links */
.social-links {
  display: flex;
  gap: 20px;
  position: absolute; /* Absolute positioning */
  top: 20px; /* Move to top */
  right: 20px; /* Move to right */
}

.icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s, transform 0.3s;
  border: 2px solid black; /* Added black border */
  border-radius: 50%; /* Makes the border circular */
  padding: 10px; /* Adds space around the icon */
}

.icon:hover {
  color: #333;
  border-color: #333; /* Darker border on hover */
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

/* Music Controls */
.music-controls {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

button {
  background-color: #fff;
  color: #000;
  border: 2px solid black; /* Added black border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 1rem;
}

button:hover {
  background-color: #f0f0f0;
  border-color: #333; /* Darker border on hover for emphasis */
}
